<a href="https://colab.research.google.com/github/JF11579/Adelphi/blob/main/DataVizSkinnyData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Options

# Packages

In [ ]:
library(tidyverse)
library(ggplot2)
library(lubridate)
install.packages("ggthemes")
library(ggthemes)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

# Data

##Michigan

In [ ]:
Michigan <- read.csv("/content/Michigan.csv", skip=0, header=TRUE)
head(Michigan,3)

In [ ]:
MI <- read.csv("/content/MI_2.csv", skip=0, header=TRUE)
head(MI,3)

In [ ]:
MI_combo <- merge(Michigan ,MI, by="Time", all = T)

In [ ]:
head(MI_combo,2)

  Time          ketamine...Michigan. date.rape...Michigan. GHB...Michigan.
1 2022-02-23T12 40                   4                      0
2 2022-02-23T13 24                   0                     12
  Rohypnol...Michigan. State.x  morning.after.pill...Michigan.
1 0                    Michigan NA
2 0                    Michigan  0
  roofie...Michigan. pills.to.avoid.pregnancy.after...Michigan.
1 NA                 NA
2  0                  0
  how.much.is.the.morning.after.bill...Michigan. i.been.raped...Michigan.
1 NA                                             NA
2  0                                              0
  State.y
1 NA
2 Michigan

In [ ]:
colnames(MI_combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol","State",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                        "how_much_is_morning_after_pill","been_raped","state_2")

In [ ]:
head(MI_combo,3)

  Time          ketamine date_rape GHB Rohypnol State    morning_after_pill
1 2022-02-23T12 40       4          0  0        Michigan NA
2 2022-02-23T13 24       0         12  0        Michigan  0
3 2022-02-23T14 32       8          0  0        Michigan  0
  roofie pills_to_avoid_preg how_much_is_morning_after_pill been_raped state_2
1 NA     NA                  NA                             NA         NA
2  0      0                   0                              0         Michigan
3  0      0                   0                              0         Michigan

## Indiana

In [ ]:
'''
Indiana <- read.csv("//content/Indiana.csv", skip=0, header=TRUE)
IN <- read.csv("/content/IN_2.csv", skip=0, header=TRUE)
IN_combo <- merge(Indiana ,IN, by="Time", all = T)
head(IN_combo)
'''

In [ ]:
Full <- read.csv("//content/Indiana.csv", skip=0, header=TRUE)
Short <- read.csv("/content/IN_2.csv", skip=0, header=TRUE)
#Indiana <- read.csv("//content/Indiana.csv", skip=0, header=TRUE)
#IN <- read.csv("/content/IN_2.csv", skip=0, header=TRUE)
IN_combo <- merge(Full,Short, by="Time", all = T)
head(IN_combo)

In [ ]:
colnames(IN_combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol","State",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                        "how_much_is_morning_after_pill","been_raped","state_2")

In [ ]:
head(IN_combo,3)

  Time          ketamine date_rape GHB Rohypnol State   morning_after_pill
1 2022-02-23T12  4       0         0   0        Indiana NA
2 2022-02-23T13 20       0         0   0        Indiana  0
3 2022-02-23T14 32       8         0   0        Indiana  7
  roofie pills_to_avoid_preg how_much_is_morning_after_pill been_raped state_2
1 NA     NA                  NA                             NA         NA
2  0      0                   0                              0         Indiana
3  0      0                   0                              0         Indiana

## Kentucky

In [ ]:
Full <- read.csv("/content/Kentucky.csv", skip=0, header=TRUE)
Short <- read.csv("/content/KY_2.csv", skip=0, header=TRUE)
#Indiana <- read.csv("//content/Indiana.csv", skip=0, header=TRUE)
#IN <- read.csv("/content/IN_2.csv", skip=0, header=TRUE)
KY_combo <- merge(Full,Short, by="Time", all = T)
head(KY_combo)

In [ ]:
colnames(KY_combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol","State",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                        "how_much_is_morning_after_pill","been_raped","state_2")

In [ ]:
head(KY_combo,3)

  Time          ketamine date_rape GHB Rohypnol State    morning_after_pill
1 2022-02-23T12 27       0         0   0        Kentucky NA
2 2022-02-23T13 18       0         0   0        Kentucky  6
3 2022-02-23T14  9       4         0   0        Kentucky  0
  roofie pills_to_avoid_preg how_much_is_morning_after_pill been_raped state_2
1 NA     NA                  NA                             NA         NA
2  0      0                   0                              0         Kentucky
3  0      0                   0                              0         Kentucky

##Tennasee

In [ ]:
Full <- read.csv("//content/Tennasee.csv", skip=0, header=TRUE)
Short <- read.csv("/content/TN_2.csv", skip=0, header=TRUE)
TN_combo <- merge(Full,Short, by="Time", all = T)
head(TN_combo)

In [ ]:
colnames(TN_combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol","State",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                        "how_much_is_morning_after_pill","been_raped","state_2")
head(TN_combo)

## Mississippi

In [ ]:
Full <- read.csv("/content/Mississippi.csv", skip=0, header=TRUE)
Short <- read.csv("/content/MS_2.csv", skip=0, header=TRUE)
MS_combo <- merge(Full,Short, by="Time", all = T)
head(MS_combo)

In [ ]:
colnames(MS_combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol","State",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                        "how_much_is_morning_after_pill","been_raped","state_2")
head(MS_combo,2)

  Time          ketamine date_rape GHB Rohypnol State       morning_after_pill
1 2022-02-23T12 10       20        10  10       Mississippi NA
2 2022-02-23T13  0        0         0   0       Mississippi  0
  roofie pills_to_avoid_preg how_much_is_morning_after_pill been_raped
1 NA     NA                  NA                             NA
2  0      0                   0                              0
  state_2
1 NA
2 Mississippi

## Alabama

In [ ]:
Full <- read.csv("/content/Alabama_data.csv", skip=0, header=TRUE)
Short <- read.csv("/content/AL_2.csv", skip=0, header=TRUE)
AL_combo <- merge(Full,Short, by="Time", all = T)
head(AL_combo)

In [ ]:
colnames(AL_combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol","State",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                        "how_much_is_morning_after_pill","been_raped","state_2")
head(AL_combo,2)

  Time          ketamine date_rape GHB Rohypnol State   morning_after_pill
1 2022-02-23T11 45       6         0   0        Alabama NA
2 2022-02-23T11 39       3         10  0        Arizona NA
  roofie pills_to_avoid_preg how_much_is_morning_after_pill been_raped state_2
1 NA     NA                  NA                             NA         NA
2 NA     NA                  NA                             NA         NA

## Florida

In [ ]:
Full <- read.csv("/content/Florida_data.csv", skip=0, header=TRUE)
Short <- read.csv("/content/FL_2.csv", skip=0, header=TRUE)
FL_combo <- merge(Full,Short, by="Time", all = T)
head(FL_combo)

In [ ]:
colnames(FL_combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol","State",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                        "how_much_is_morning_after_pill","been_raped","state_2")
head(FL_combo,2)

  Time          ketamine date_rape GHB Rohypnol State   morning_after_pill
1 2022-02-23T12 28       2         2   1        Florida NA
2 2022-02-23T13 45       2         5   1        Florida  5
  roofie pills_to_avoid_preg how_much_is_morning_after_pill been_raped state_2
1 NA     NA                  NA                             NA         NA
2  0      0                   0                              0         Florida

## Georgia

In [ ]:
Full <- read.csv("/content/Georgia.csv", skip=0, header=TRUE)
Short <- read.csv("/content/GA_2.csv", skip=0, header=TRUE)
GA_combo <- merge(Full,Short, by="Time", all = T)
head(GA_combo)

In [ ]:
colnames(GA_combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol","State",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                        "how_much_is_morning_after_pill","been_raped","state_2")
head(GA_combo,2)

  Time          ketamine date_rape GHB Rohypnol State   morning_after_pill
1 2022-02-23T12 15       0         5   2        Georgia NA
2 2022-02-23T13 32       2         8   0        Georgia  0
  roofie pills_to_avoid_preg how_much_is_morning_after_pill been_raped state_2
1 NA     NA                  NA                             NA         NA
2  0      0                   0                              0         Georgia

## South Catolina

In [ ]:
Full <- read.csv("/content/SouthCarolina.csv", skip=0, header=TRUE)
Short <- read.csv("/content/SC_2.csv", skip=0, header=TRUE)
SC_combo <- merge(Full,Short, by="Time", all = T)
head(SC_combo)

In [ ]:
colnames(SC_combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol","State",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                        "how_much_is_morning_after_pill","been_raped","state_2")
head(SC_combo,2)

  Time          ketamine date_rape GHB Rohypnol State
1 2022-02-23T12 25       0          6  0        South Carolina
2 2022-02-23T13 31       6         12  0        South Carolina
  morning_after_pill roofie pills_to_avoid_preg how_much_is_morning_after_pill
1 NA                 NA     NA                  NA
2  0                  0      0                   0
  been_raped state_2
1 NA         NA
2  0         South Carolina

## North Carolina

In [ ]:
Full <- read.csv("/content/NorthCarolina.csv", skip=0, header=TRUE)
Short <- read.csv("/content/NC_2.csv", skip=0, header=TRUE)
NC_combo <- merge(Full,Short, by="Time", all = T)
head(NC_combo)

In [ ]:
colnames(NC_combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol","State",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                        "how_much_is_morning_after_pill","been_raped","state_2")
head(NC_combo,2)

  Time          ketamine date_rape GHB Rohypnol State
1 2022-02-23T12 22       0         0   0        North Carolina
2 2022-02-23T13 27       2         9   2        North Carolina
  morning_after_pill roofie pills_to_avoid_preg how_much_is_morning_after_pill
1 NA                 NA     NA                  NA
2 17                  8      0                   0
  been_raped state_2
1 NA         NA
2  0         North Carolina

## West Virginia

In [ ]:
Full <- read.csv("/content/WestVirginioa.csv", skip=0, header=TRUE)
Short <- read.csv("/content/Ark_2.csv", skip=0, header=TRUE)
WV_combo <- merge(Full,Short, by="Time", all = T)
head(WV_combo)

In [ ]:
colnames(WV_combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol","State",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                        "how_much_is_morning_after_pill","been_raped","state_2")
head(WV_combo,2)

## Delaware

In [ ]:
Full <- read.csv("/content/Delaware.csv", skip=0, header=TRUE)
Short <- read.csv("/content/DE_2.csv", skip=0, header=TRUE)
DE_combo <- merge(Full,Short, by="Time", all = T)
head(DE_combo)

In [ ]:
colnames(DE_combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol","State",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                        "how_much_is_morning_after_pill","been_raped","state_2")
head(DE_combo,2)

  Time          ketamine date_rape GHB Rohypnol State    morning_after_pill
1 2022-02-23T11  0       0         0   0        Delaware NA
2 2022-02-23T12 13       0         0   0        Delaware NA
  roofie pills_to_avoid_preg how_much_is_morning_after_pill been_raped state_2
1 NA     NA                  NA                             NA         NA
2 NA     NA                  NA                             NA         NA

## New Jersey

In [ ]:
Full <- read.csv("/content/NewJersey.csv", skip=0, header=TRUE)
Short <- read.csv("/content/NJ_2.csv", skip=0, header=TRUE)
NJ_combo <- merge(Full,Short, by="Time", all = T)
head(NJ_combo)

In [ ]:
colnames(NJ_combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol","State",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                        "how_much_is_morning_after_pill","been_raped","state_2")
head(NJ_combo,2)

  Time          ketamine date_rape GHB Rohypnol State      morning_after_pill
1 2022-02-23T12 25       3         0   0        New Jersey NA
2 2022-02-23T13 25       3         3   0        New Jersey  0
  roofie pills_to_avoid_preg how_much_is_morning_after_pill been_raped
1 NA     NA                  NA                             NA
2  7      0                   0                              0
  state_2
1 NA
2 New Jersey

## Pennsylvania

In [ ]:
Full <- read.csv("/content/Pennsylvania.csv", skip=0, header=TRUE)
Short <- read.csv("/content/PA_2.csv", skip=0, header=TRUE)
PA_combo <- merge(Full,Short, by="Time", all = T)
head(PA_combo)

In [ ]:
colnames(PA_combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol","State",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                        "how_much_is_morning_after_pill","been_raped","state_2")
head(PA_combo,2)

  Time          ketamine date_rape GHB Rohypnol State       morning_after_pill
1 2022-02-23T12 19       0         6   0        Pennsylania NA
2 2022-02-23T13 46       0         3   3        Pennsylania  7
  roofie pills_to_avoid_preg how_much_is_morning_after_pill been_raped
1 NA     NA                  NA                             NA
2  7      0                   0                              0
  state_2
1 NA
2 Pennsylvania

## New York

In [ ]:
Full <- read.csv("/content/NewYork.csv", skip=0, header=TRUE)
Short <- read.csv("/content/NY_2.csv", skip=0, header=TRUE)
NY_combo <- merge(Full,Short, by="Time", all = T)
head(NY_combo)

In [ ]:
colnames(NY_combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol","State",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                        "how_much_is_morning_after_pill","been_raped","state_2")
head(NY_combo,2)

  Time          ketamine date_rape GHB Rohypnol State    morning_after_pill
1 2022-02-23T12 25       0         6   0        New York NA
2 2022-02-23T13 21       0         6   0        New York  9
  roofie pills_to_avoid_preg how_much_is_morning_after_pill been_raped state_2
1 NA     NA                  NA                             NA         NA
2  5      0                   0                              0         New York

## Connecticut

In [ ]:
Full <- read.csv("/content/Connecticut.csv", skip=0, header=TRUE)
Short <- read.csv("/content/CT_2.csv", skip=0, header=TRUE)
CT_combo <- merge(Full,Short, by="Time", all = T)
head(CT_combo)

In [ ]:
colnames(CT_combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol","State",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                        "how_much_is_morning_after_pill","been_raped","state_2")
head(CT_combo,2)

  Time          ketamine date_rape GHB Rohypnol State       morning_after_pill
1 2022-02-23T11 32       0         0   0        Connecticut NA
2 2022-02-23T12 11       0         0   0        Connecticut NA
  roofie pills_to_avoid_preg how_much_is_morning_after_pill been_raped state_2
1 NA     NA                  NA                             NA         NA
2 NA     NA                  NA                             NA         NA

## Massachussettes

In [ ]:
Full <- read.csv("/content/Massachusesttes.csv", skip=0, header=TRUE)
Short <- read.csv("/content/MA_2.csv", skip=0, header=TRUE)
MA_combo <- merge(Full,Short, by="Time", all = T)
head(MA_combo)

In [ ]:
colnames(MA_combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol","State",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                        "how_much_is_morning_after_pill","been_raped","state_2")
head(MA_combo,2)

  Time          ketamine date_rape GHB Rohypnol State
1 2022-02-23T12 31       0         0   2        Massachusetts
2 2022-02-23T13 12       0         0   0        Massachusetts
  morning_after_pill roofie pills_to_avoid_preg how_much_is_morning_after_pill
1 NA                 NA     NA                  NA
2  0                  0      0                   0
  been_raped state_2
1 NA         NA
2  0         Massachusetts

## Vermont

In [ ]:
Full <- read.csv("/content/Vermont.csv", skip=0, header=TRUE)
Short <- read.csv("/content/VT_2.csv", skip=0, header=TRUE)
VT_combo <- merge(Full,Short, by="Time", all = T)
head(VT_combo)

In [ ]:
colnames(VT_combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol","State",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                        "how_much_is_morning_after_pill","been_raped","state_2")
head(VT_combo,2)

  Time          ketamine date_rape GHB Rohypnol State   morning_after_pill
1 2022-02-23T12  9       0         0   0        Vermont NA
2 2022-02-23T13 17       0         0   0        Vermont  0
  roofie pills_to_avoid_preg how_much_is_morning_after_pill been_raped state_2
1 NA     NA                  NA                             NA         NA
2  0      0                   0                              0         Vermont

## New Hampshire

In [ ]:
Full <- read.csv("/content/NewHampshire.csv", skip=0, header=TRUE)
Short <- read.csv("/content/NH_2.csv", skip=0, header=TRUE)
NH_combo <- merge(Full,Short, by="Time", all = T)
head(NH_combo)

In [ ]:
colnames(NH_combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol","State",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                        "how_much_is_morning_after_pill","been_raped","state_2")
head(NH_combo,2)

  Time          ketamine date_rape GHB Rohypnol State
1 2022-02-23T12 0        0         0   0         New Hampshire
2 2022-02-23T13 0        0         0   0         New Hampshire
  morning_after_pill roofie pills_to_avoid_preg how_much_is_morning_after_pill
1 NA                 NA     NA                  NA
2  0                  0      0                   0
  been_raped state_2
1 NA         NA
2  0         New Hampshire

## Maine

In [ ]:
Full <- read.csv("/content/Maine.csv", skip=0, header=TRUE)
Short <- read.csv("/content/ME_2.csv", skip=0, header=TRUE)
ME_combo <- merge(Full,Short, by="Time", all = T)
head(ME_combo)

In [ ]:
colnames(ME_combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol","State",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                        "how_much_is_morning_after_pill","been_raped","state_2")
head(ME_combo,2)

  Time          ketamine date_rape GHB Rohypnol State morning_after_pill roofie
1 2022-02-23T12 22       0          0  0        Maine NA                 NA
2 2022-02-23T13  0       0         10  0        Maine  0                  0
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped state_2
1 NA                  NA                             NA         NA
2  0                   0                              0         Maine

## Wisconsin

In [ ]:
Full <- read.csv("/content/Wisconsin.csv", skip=0, header=TRUE)
Short <- read.csv("/content/WI_2.csv", skip=0, header=TRUE)
WI_combo <- merge(Full,Short, by="Time", all = T)
head(WI_combo)

  Time          ketamine date_rape GHB Rohypnol State     morning_after_pill
1 2022-02-23T12 57       0         4   0        Wisconsin NA
2 2022-02-23T13 39       0         9   0        Wisconsin 10
  roofie pills_to_avoid_preg how_much_is_morning_after_pill been_raped
1 NA     NA                  NA                             NA
2  0      0                   0                              0
  state_2
1 NA
2 Wusconsin

## Illinois

In [ ]:
Full <- read.csv("/content/Illinois.csv", skip=0, header=TRUE)
Short <- read.csv("//content/IL_2.csv", skip=0, header=TRUE)
IL_combo <- merge(Full,Short, by="Time", all = T)
head(IL_combo)

In [ ]:
colnames(IL_combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol","State",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                        "how_much_is_morning_after_pill","been_raped","state_2")
head(IL_combo,2)

  Time          ketamine date_rape GHB Rohypnol State    morning_after_pill
1 2022-02-23T12 50       2         2   0        Illinois NA
2 2022-02-23T13 20       0         6   0        Illinois  4
  roofie pills_to_avoid_preg how_much_is_morning_after_pill been_raped state_2
1 NA     NA                  NA                             NA         NA
2  0      0                   0                              0         Illinois

## Arkansas

In [ ]:
Full <- read.csv("/content/Arkansas_data.csv", skip=0, header=TRUE)
Short <- read.csv("/content/Ark_2.csv", skip=0, header=TRUE)
AR_combo <- merge(Full,Short, by="Time", all = T)
head(AR_combo)

In [ ]:
colnames(AR_combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol","State",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                        "how_much_is_morning_after_pill","been_raped","state_2")
head(AR_combo,2)

  Time          ketamine date_rape GHB Rohypnol State    morning_after_pill
1 2022-02-23T11 14       0         0   0        Arkansas NA
2 2022-02-23T12 14       0         0   0        Arkansas NA
  roofie pills_to_avoid_preg how_much_is_morning_after_pill been_raped state_2
1 NA     NA                  NA                             NA         NA
2 NA     NA                  NA                             NA         NA

## Loisiana

In [ ]:
Full <- read.csv("/content/Louisiana.csv", skip=0, header=TRUE)
Short <- read.csv("/content/LO_2.csv", skip=0, header=TRUE)
LO_combo <- merge(Full,Short, by="Time", all = T)
head(LO_combo)

In [ ]:
colnames(LO_combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol","State",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                        "how_much_is_morning_after_pill","been_raped","state_2")
head(LO_combo,2)

  Time          ketamine date_rape GHB Rohypnol State     morning_after_pill
1 2022-02-23T12 16       5         0   0        Louisiana NA
2 2022-02-23T13 22       0         0   0        Louisiana 10
  roofie pills_to_avoid_preg how_much_is_morning_after_pill been_raped
1 NA     NA                  NA                             NA
2  0      0                   0                              0
  state_2
1 NA
2 Louisiana

## Texas

In [ ]:
Full <- read.csv("/content/Texas.csv", skip=0, header=TRUE)
Short <- read.csv("/content/TX_2.csv", skip=0, header=TRUE)
TX_combo <- merge(Full,Short, by="Time", all = T)
head(TX_combo)

In [ ]:
colnames(TX_combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol","State",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                        "how_much_is_morning_after_pill","been_raped","state_2")
head(TX_combo,2)

  Time          ketamine date_rape GHB Rohypnol State morning_after_pill roofie
1 2022-02-23T12 26       11        6   1        Texas NA                 NA
2 2022-02-23T13 26        3        4   1        Texas 12                  2
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped state_2
1 NA                  NA                             NA         NA
2  0                   0                              0         Texas

## Oklahaoma

In [ ]:
Full <- read.csv("/content/Oklahoma.csv", skip=0, header=TRUE)
Short <- read.csv("/content/OK_2.csv", skip=0, header=TRUE)
head(OK_combo)

In [ ]:
colnames(OK_combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol","State",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                        "how_much_is_morning_after_pill","been_raped","state_2")
head(OK_combo,2)

  Time          ketamine date_rape GHB Rohypnol State    morning_after_pill
1 2022-02-23T12 12       18        0   0        Oklahoma NA
2 2022-02-23T13 36        0        0   0        Oklahoma  0
  roofie pills_to_avoid_preg how_much_is_morning_after_pill been_raped state_2
1 NA     NA                  NA                             NA         NA
2  0      0                   0                              0         Oklahoma

## Mousouri______XXXXXXXXXXXXXXXXXXXXXXXXXXXXX

In [ ]:
Full <- read.csv("/content/Missouri.csv", skip=0, header=TRUE)
Short <- read.csv("/content/MO_2.csv", skip=0, header=TRUE)
MO_combo <- merge(Full,Short, by="Time", all = T)
head(MO_combo)

In [ ]:
colnames(MO_combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol","State",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                        "how_much_is_morning_after_pill","been_raped")
head(MO_combo,2)

  Time          ketamine date_rape GHB Rohypnol State    morning_after_pill
1 2022-02-23T12 22       0         0   0        Missouri NA
2 2022-02-23T13 15       3         0   0        Missouri  0
  roofie pills_to_avoid_preg how_much_is_morning_after_pill been_raped
1 NA     NA                  NA                             NA
2  0      0                   0                              0

## Iowa

In [ ]:
Full <- read.csv("/content/Iowa.csv", skip=0, header=TRUE)
Short <- read.csv("/content/IW_2.csv", skip=0, header=TRUE)
IW_combo <- merge(Full,Short, by="Time", all = T)
head(IW_combo)

In [ ]:
colnames(IW_combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol","State",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                        "how_much_is_morning_after_pill","been_raped","state_2")
head(IW_combo,2)

  Time          ketamine date_rape GHB Rohypnol State morning_after_pill roofie
1 2022-02-23T12 25       0         0   0        Iowa  NA                 NA
2 2022-02-23T13  6       0         0   0        Iowa   0                  0
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped state_2
1 NA                  NA                             NA         NA
2  0                   0                              0         Iowa

## Minnesota

In [ ]:
Full <- read.csv("//content/Minnesota.csv", skip=0, header=TRUE)
Short <- read.csv("/content/MN_2.csv", skip=0, header=TRUE)
MN_combo <- merge(Full,Short, by="Time", all = T)
head(MN_combo)

In [ ]:
colnames(MN_combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol","State",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                        "how_much_is_morning_after_pill","been_raped","state_2")
head(MN_combo,2)

  Time          ketamine date_rape GHB Rohypnol State     morning_after_pill
1 2022-02-23T12 43       0         0   0        Minnesota NA
2 2022-02-23T13 22       0         6   0        Minnesota  0
  roofie pills_to_avoid_preg how_much_is_morning_after_pill been_raped
1 NA     NA                  NA                             NA
2  9      0                   0                              0
  state_2
1 NA
2 Minnesota

## NorthDakota

In [ ]:
Full <- read.csv("/content/NorthDakota.csv", skip=0, header=TRUE)
Short <- read.csv("/content/ND_2.csv", skip=0, header=TRUE)
ND_combo <- merge(Full,Short, by="Time", all = T)
head(ND_combo)

In [ ]:
colnames(ND_combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol","State",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                        "how_much_is_morning_after_pill","been_raped","state_2")
head(ND_combo,2)

  Time          ketamine date_rape GHB Rohypnol State        morning_after_pill
1 2022-02-23T12  9       0         0   0        North Dakota NA
2 2022-02-23T13 10       0         0   0        North Dakota  0
  roofie pills_to_avoid_preg how_much_is_morning_after_pill been_raped
1 NA     NA                  NA                             NA
2  0      0                   0                              0
  state_2
1 NA
2 North Dakota

##SouthDakota

In [ ]:
Full <- read.csv("/content/SouthDakota.csv", skip=0, header=TRUE)
Short <- read.csv("/content/SD_2.csv", skip=0, header=TRUE)
SD_combo <- merge(Full,Short, by="Time", all = T)
head(SD_combo)

In [ ]:
colnames(SD_combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol","State",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                        "how_much_is_morning_after_pill","been_raped","state_2")
head(SD_combo,2)

  Time          ketamine date_rape GHB Rohypnol State        morning_after_pill
1 2022-02-23T12 0        0         11  0        South Dakota NA
2 2022-02-23T13 0        0          0  0        South Dakota NA
  roofie pills_to_avoid_preg how_much_is_morning_after_pill been_raped state_2
1 NA     NA                  NA                             NA         NA
2 NA     NA                  NA                             NA         NA

##Nebraska

In [ ]:
Full <- read.csv("/content/Nebraska.csv", skip=0, header=TRUE)
Short <- read.csv("/content/NE_2.csv", skip=0, header=TRUE)
NE_combo <- merge(Full,Short, by="Time", all = T)
head(NE_combo)

In [ ]:
colnames(NE_combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol","State",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                        "how_much_is_morning_after_pill","been_raped","state_2")
head(NE_combo,2)

  Time          ketamine date_rape GHB Rohypnol State  morning_after_pill
1 2022-02-23T12 10       5          0  0        Nevada NA
2 2022-02-23T13  0       0         14  0        Nevada  0
  roofie pills_to_avoid_preg how_much_is_morning_after_pill been_raped state_2
1 NA     NA                  NA                             NA         NA
2  0      0                   0                              0         Nebraska

## Kansas

In [ ]:
Full <- read.csv("/content/Kansas.csv", skip=0, header=TRUE)
Short <- read.csv("/content/KS_2.csv", skip=0, header=TRUE)
KS_combo <- merge(Full,Short, by="Time", all = T)
head(KS_combo)

In [ ]:
colnames(KS_combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol","State",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                        "how_much_is_morning_after_pill","been_raped","state_2")
head(KS_combo,2)

  Time          ketamine date_rape GHB Rohypnol State  morning_after_pill
1 2022-02-23T12  6       0         0   5        Kansas NA
2 2022-02-23T13 17       0         0   0        Kansas  0
  roofie pills_to_avoid_preg how_much_is_morning_after_pill been_raped state_2
1 NA     NA                  NA                             NA         NA
2  0      0                   0                              0         Kansas

## New Mexico

In [ ]:
Full <- read.csv("/content/NewMexico.csv", skip=0, header=TRUE)
Short <- read.csv("/content/NM_2.csv", skip=0, header=TRUE)
NM_combo <- merge(Full,Short, by="Time", all = T)
head(NM_combo)

In [ ]:
colnames(NM_combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol","State",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                        "how_much_is_morning_after_pill","been_raped","state_2")
head(NM_combo,2)

  Time          ketamine date_rape GHB Rohypnol State      morning_after_pill
1 2022-02-23T12 16       0         0   0        New Mexico NA
2 2022-02-23T13 32       0         0   0        New Mexico 11
  roofie pills_to_avoid_preg how_much_is_morning_after_pill been_raped
1 NA     NA                  NA                             NA
2  0      0                   0                              0
  state_2
1 NA
2 New Mexico

## Colorado

In [ ]:
Full <- read.csv("/content/Colorado.csv", skip=0, header=TRUE)
Short <- read.csv("/content/CO_2.csv", skip=0, header=TRUE)
CO_combo <- merge(Full,Short, by="Time", all = T)
head(CO_combo)

In [ ]:
colnames(CO_combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol","State",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                        "how_much_is_morning_after_pill","been_raped","state_2")
head(CO_combo,2)

  Time          ketamine date_rape GHB Rohypnol State    morning_after_pill
1 2022-02-23T11 11       0         0   0        Colorado NA
2 2022-02-23T12 12       0         2   0        Colorado NA
  roofie pills_to_avoid_preg how_much_is_morning_after_pill been_raped state_2
1 NA     NA                  NA                             NA         NA
2 NA     NA                  NA                             NA         NA

## Wyoming

In [ ]:
Full <- read.csv("/content/Wyoming.csv", skip=0, header=TRUE)
Short <- read.csv("/content/WY_2.csv", skip=0, header=TRUE)
WY_combo <- merge(Full,Short, by="Time", all = T)
head(WY_combo)

In [ ]:
colnames(WY_combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol","State",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                        "how_much_is_morning_after_pill","been_raped","state_2")
head(WY_combo,2)

  Time          ketamine date_rape GHB Rohypnol State   morning_after_pill
1 2022-02-23T12 14       0          0  0        Wyoming NA
2 2022-02-23T13 14       0         14  0        Wyoming NA
  roofie pills_to_avoid_preg how_much_is_morning_after_pill been_raped state_2
1 NA     NA                  NA                             NA         NA
2 NA     NA                  NA                             NA         NA

## Montana

In [ ]:
Full <- read.csv("/content/Montana.csv", skip=0, header=TRUE)
Short <- read.csv("/content/MT_2.csv", skip=0, header=TRUE)
MT_combo <- merge(Full,Short, by="Time", all = T)
head(MT_combo)

In [ ]:
colnames(MT_combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol","State",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                        "how_much_is_morning_after_pill","been_raped","state_2")
head(MT_combo,2)

  Time          ketamine date_rape GHB Rohypnol State   morning_after_pill
1 2022-02-23T12 0        0         0   0        Montana NA
2 2022-02-23T13 8        0         0   0        Montana  0
  roofie pills_to_avoid_preg how_much_is_morning_after_pill been_raped state_2
1 NA     NA                  NA                             NA         NA
2  0      0                   0                              0         Montana

## Idaho

In [ ]:
Full <- read.csv("/content/Idaho.csv", skip=0, header=TRUE)
Short <- read.csv("//content/ID_2.csv", skip=0, header=TRUE)
ID_combo <- merge(Full,Short, by="Time", all = T)
head(ID_combo)

In [ ]:
colnames(ID_combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol","State",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                        "how_much_is_morning_after_pill","been_raped","state_2")
head(ID_combo,2)

  Time          ketamine date_rape GHB Rohypnol State morning_after_pill roofie
1 2022-02-23T12 17       0         8   0        Idaho NA                 NA
2 2022-02-23T13 17       8         0   0        Idaho 11                  0
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped state_2
1 NA                  NA                             NA         NA
2  0                   0                              0         Idaho

## Utaho

In [ ]:
Full <- read.csv("/content/Utah.csv", skip=0, header=TRUE)
Short <- read.csv("/content/UT_2.csv", skip=0, header=TRUE)
UT_combo <- merge(Full,Short, by="Time", all = T)
head(UT_combo)

In [ ]:
colnames(UT_combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol","State",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                        "how_much_is_morning_after_pill","been_raped","state_2")
head(UT_combo,2)

  Time          ketamine date_rape GHB Rohypnol State morning_after_pill roofie
1 2022-02-23T12 11       0         0   0        Utah  NA                 NA
2 2022-02-23T13 18       0         0   0        Utah   8                  0
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped state_2
1 NA                  NA                             NA         NA
2  0                   0                              0         Utah

## Arizona

In [ ]:
Full <- read.csv("/content/Arizona_data.csv", skip=0, header=TRUE)
Short <- read.csv("/content/AZ_2.csv", skip=0, header=TRUE)
AZ_combo <- merge(Full,Short, by="Time", all = T)
head(AZ_combo)

In [ ]:
colnames(AZ_combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol","State",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                        "how_much_is_morning_after_pill","been_raped","state_2")
head(AZ_combo,2)

  Time          ketamine date_rape GHB Rohypnol State   morning_after_pill
1 2022-02-23T11 39       3         10  0        Arizona NA
2 2022-02-23T12 44       3          0  3        Arizona NA
  roofie pills_to_avoid_preg how_much_is_morning_after_pill been_raped state_2
1 NA     NA                  NA                             NA         NA
2 NA     NA                  NA                             NA         NA

## Nevada

In [ ]:
Full <- read.csv("/content/Nevada.csv", skip=0, header=TRUE)
Short <- read.csv("/content/NE_2.csv", skip=0, header=TRUE)
NE_combo <- merge(Full,Short, by="Time", all = T)
head(NE_combo)

In [ ]:
colnames(NE_combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol","State",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                        "how_much_is_morning_after_pill","been_raped","state_2")
head(NE_combo,2)

  Time          ketamine date_rape GHB Rohypnol State  morning_after_pill
1 2022-02-23T12 10       5          0  0        Nevada NA
2 2022-02-23T13  0       0         14  0        Nevada  0
  roofie pills_to_avoid_preg how_much_is_morning_after_pill been_raped state_2
1 NA     NA                  NA                             NA         NA
2  0      0                   0                              0         Nebraska

## Oregon

In [ ]:
Full <- read.csv("/content/Oregon.csv", skip=0, header=TRUE)
Short <- read.csv("/content/OR_2.csv", skip=0, header=TRUE)
OR_combo <- merge(Full,Short, by="Time", all = T)
head(OR_combo)

In [ ]:
colnames(OR_combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol","State",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                        "how_much_is_morning_after_pill","been_raped","state_2")
head(OR_combo,2)

  Time          ketamine date_rape GHB Rohypnol State  morning_after_pill
1 2022-02-23T12 25       0         4   0        Oregon NA
2 2022-02-23T13 12       0         0   0        Oregon  0
  roofie pills_to_avoid_preg how_much_is_morning_after_pill been_raped state_2
1 NA     NA                  NA                             NA         NA
2  0      0                   0                              0         Oregon

## Washington

In [ ]:
Full <- read.csv("/content/Washington.csv", skip=0, header=TRUE)
Short <- read.csv("/content/WA_2.csv", skip=0, header=TRUE)
WA_combo <- merge(Full,Short, by="Time", all = T)
head(WA_combo)

## Califronia

In [ ]:
Full <- read.csv("/content/California_data.csv", skip=0, header=TRUE)
Short <- read.csv("/content/CA_2.csv", skip=0, header=TRUE)
CA_combo <- merge(Full,Short, by="Time", all = T)
head(CA_combo)

In [ ]:
colnames(CA_combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol","State",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                        "how_much_is_morning_after_pill","been_raped","state_2")
head(CA_combo,2)

  Time          ketamine date_rape GHB Rohypnol State      morning_after_pill
1 2022-02-23T11 27       0          5  1        California NA
2 2022-02-23T12 26       2         11  0        California NA
  roofie pills_to_avoid_preg how_much_is_morning_after_pill been_raped state_2
1 NA     NA                  NA                             NA         NA
2 NA     NA                  NA                             NA         NA

## Next stack all of these dataframes then export as s CSV

### then add FBI data

## then make skinny

#  '##########################'

#  '########################'

## we need to make the col name suniform before stacking

There are 50 files so any steps that can be elimnated are significant.  Do we change teh column names first and then stack the DFs or do we tell R to ignore the col names but then are only able to stack 2 at a time?

In [ ]:
str(MI_combo)

'data.frame':	169 obs. of  12 variables:
 $ Time                          : chr  "2022-02-23T12" "2022-02-23T13" "2022-02-23T14" "2022-02-23T15" ...
 $ ketamine                      : int  40 24 32 43 24 13 30 22 64 86 ...
 $ date_rape                     : int  4 0 8 12 8 4 4 0 9 0 ...
 $ GHB                           : int  0 12 0 0 0 4 9 4 13 19 ...
 $ Rohypnol                      : int  0 0 0 0 0 0 0 0 0 5 ...
 $ State                         : chr  "Michigan" "Michigan" "Michigan" "Michigan" ...
 $ morning_after_pill            : int  NA 0 0 6 19 7 0 14 0 0 ...
 $ roofie                        : int  NA 0 0 6 0 0 7 0 13 0 ...
 $ pills_to_avoid_preg           : int  NA 0 0 0 0 0 0 0 0 0 ...
 $ how_much_is_morning_after_pill: int  NA 0 0 0 0 0 0 0 0 0 ...
 $ been_raped                    : int  NA 0 0 0 0 0 0 0 0 0 ...
 $ state_2                       : chr  NA "Michigan" "Michigan" "Michigan" ...

In [ ]:
# bind_rows(DF1, DF2, DF3)
First_10 <- bind_rows(MI_combo ,IN_combo, KY_combo,KY_combo,MS_combo,AL_combo,
                        FL_combo,GA_combo,SC_combo,NC_combo)

In [ ]:
First_10 <- bind_rows(MI_combo ,IN_combo,KY_combo,KY_combo,MS_combo)

In [ ]:
First_11 <- bind_rows(First_10,FL_combo,GA_combo,SC_combo,NC_combo)

In [ ]:
dim(First_10) #845*49

[1] 845  12

In [ ]:
dim(First_11)

[1] 1521   12

In [ ]:
First_12 <- bind_rows(First_11,WV_combo , DE_combo,NJ_combo, PA_combo, NY_combo)

In [ ]:
dim(First_12)

[1] 2367   12

In [ ]:
First_13 <- bind_rows(First_11,CT_combo ,MA_combo ,VT_combo ,NH_combo ,ME_combo ,WI_combo)

In [ ]:
dim(First_13)

[1] 2536   12

In [ ]:
First_14 <- bind_rows(First_13, IL_combo ,AR_combo, LO_combo, TX_combo, OK_combo,MO_combo)

In [ ]:
dim(First_14)

[1] 3551   12

In [ ]:
First_15 <- bind_rows(First_14, IW_combo, MN_combo ,ND_combo, SD_combo ,NE_combo ,KS_combo ,NM_combo)

In [ ]:
dim(First_15)

[1] 4733   12

In [ ]:
First_16 <- bind_rows(First_15,CO_combo ,WY_combo,MT_combo, ID_combo,UT_combo, AZ_combo)

In [ ]:
dim(First_16)

[1] 5747   12

In [ ]:
First_17 <- bind_rows(First_16 , NE_combo ,OR_combo,WA_combo ,CA_combo)

In [ ]:
dim(First_17)

[1] 6424   23

## Lets cache a safety copy so we dont loose ALL of this tedious work

In [ ]:
write.csv(First_17 , "First_17_data.csv")

## Before we stretcht eh data from Wide to Long we need to enter the FBI crime data (2018 data)

To the dats set First_17 we added Church attendence as well as college grads.

Now we will import the dataset, drop unneeded cols,  then make dhte data long from wide.

In [ ]:
data <- read.csv("/content/First_17_data.csv", skip=0, header=TRUE)

In [ ]:
dim(data)

[1] 6398   16

In [ ]:
head(data,5)

## Drop a few columns before making to_longer

In [ ]:
# Drop X, state_2
data <- data %>% 
        select(-c('X', 'state_2'))

In [ ]:
dim(data)

[1] 6398   14

In [ ]:
head(data,1)

  Time          ketamine date_rape GHB Rohypnol State    morning_after_pill
1 2022-02-23T12 40       4         0   0        Michigan NA
  roofie pills_to_avoid_preg how_much_is_morning_after_pill been_raped
1 NA     NA                  NA                             NA
  Rape_Per_100k WeeklyChurchAttd College.Grad
1 76.9          NA               21

## Now we make LONGER

In [ ]:
data_longer <- data %>%
              pivot_longer(cols = -c(Time,State))

In [ ]:
dim(data_longer)

[1] 76776     4

In [ ]:
data_longer

In [ ]:
dim(data_longer)

[1] 76776     4

In [ ]:
write.csv(data_longer, "data_longer_2.csv")

In [ ]:
##########