<a href="https://colab.research.google.com/github/JF11579/Adelphi/blob/main/Lasso_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://medium.com/analytics-vidhya/understanding-regression-models-c9ac4f2184dc

https://machinelearningmastery.com/lasso-regression-with-python/

Ideasl when there are more features than observations

Lassso uses L1 penalty which shringks some variables down to zero wehre they drop out.

# Libraries

In [1]:

# load and summarize the housing dataset
from pandas import read_csv
from matplotlib import pyplot
from sklearn import linear_model
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, Lasso

# Data

In [2]:
# load dataset
url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/housing.csv'
dataframe = read_csv(url, header=None)

In [3]:
# summarize shape
print(dataframe.shape)

(506, 14)

In [4]:
# summarize first few lines
dataframe.head()

        0     1     2   3      4      5   ...  8      9     10      11    12    13
0  0.00632  18.0  2.31   0  0.538  6.575  ...   1  296.0  15.3  396.90  4.98  24.0
1  0.02731   0.0  7.07   0  0.469  6.421  ...   2  242.0  17.8  396.90  9.14  21.6
2  0.02729   0.0  7.07   0  0.469  7.185  ...   2  242.0  17.8  392.83  4.03  34.7
3  0.03237   0.0  2.18   0  0.458  6.998  ...   3  222.0  18.7  394.63  2.94  33.4
4  0.06905   0.0  2.18   0  0.458  7.147  ...   3  222.0  18.7  396.90  5.33  36.2

[5 rows x 14 columns]

In [5]:
#df2 = df.set_axis(['V', 'W', 'X', 'Y', 'Z'], axis=1, inplace=False)
dataframe.set_axis(['CRIM', 'ZN', 'INDUS',  'CHAS', 'NOX', 'RM','AGE','DIS', 'RAD', 'TAX', 'PTRATIO',  'B', 'LSTAT', 'MEDV'],axis=1,inplace=True)

In [6]:
dataframe.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  MEDV
0  0.00632  18.0   2.31     0  0.538  ...  296.0     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242.0     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242.0     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222.0     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222.0     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

The ALPH is the coefficient shrinking penalty .  Defailt value os the max of 1.

# Creating Lasso Regression

In [7]:
#Splitting the dataset
#X_train, X_test, y_train, y_test =  train_test_split(dataframe[['crim','zn','indus','chas', 'nox','rm','age','dis','rad','tax','ptratio','black','lstat']], dataframe['medv'], test_size=0.3, random_state=109)

In [8]:
#X= data_robust_scaled_named.loc[: ,data.columns != 'diagnosis']
X = dataframe.loc[: , dataframe.columns  != 'MEDV']

In [9]:
X

        CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0    0.00632  18.0   2.31     0  0.538  ...    1  296.0     15.3  396.90   4.98
1    0.02731   0.0   7.07     0  0.469  ...    2  242.0     17.8  396.90   9.14
2    0.02729   0.0   7.07     0  0.469  ...    2  242.0     17.8  392.83   4.03
3    0.03237   0.0   2.18     0  0.458  ...    3  222.0     18.7  394.63   2.94
4    0.06905   0.0   2.18     0  0.458  ...    3  222.0     18.7  396.90   5.33
..       ...   ...    ...   ...    ...  ...  ...    ...      ...     ...    ...
501  0.06263   0.0  11.93     0  0.573  ...    1  273.0     21.0  391.99   9.67
502  0.04527   0.0  11.93     0  0.573  ...    1  273.0     21.0  396.90   9.08
503  0.06076   0.0  11.93     0  0.573  ...    1  273.0     21.0  396.90   5.64
504  0.10959   0.0  11.93     0  0.573  ...    1  273.0     21.0  393.45   6.48
505  0.04741   0.0  11.93     0  0.573  ...    1  273.0     21.0  396.90   7.88

[506 rows x 13 columns]

In [10]:
y = dataframe['MEDV']

In [11]:
X_train, X_test,y_train,y_test = train_test_split(X , y , test_size= 0.1)

In [12]:
lassoreg = Lasso()

In [13]:
lassoreg.fit(X_train, y_train)

Lasso()

In [14]:
print("Accuracy score for training data", lassoreg.score(X_train,y_train))

Accuracy score for training data 0.6839758119426793

In [15]:
print("Accuracy score for test Data", lassoreg.score(X_test,y_test))

Accuracy score for test Data 0.6485543656601487