<a href="https://colab.research.google.com/github/JF11579/Adelphi/blob/main/Sprint_4_Midterm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://towardsdatascience.com/5-feature-selection-method-from-scikit-learn-you-should-know-ed4d116e4172

# Packages

In [23]:
import pandas as pd
from sklearn.feature_selection import SequentialFeatureSelector
from sklearn.linear_model import LogisticRegression
import datetime as dt

# Data

In [24]:
data= pd.read_csv('/content/drive/MyDrive/Porcelana_OP_adelphi_2021_SCALED.csv')
data.head(2)

         date  Quantity  Seasonal  ...  holiday  sunday  working_day
0  2017-01-01  1.503548  0.699923  ...        1       5           25
1  2017-02-01  0.076213  0.316156  ...        0       4           24

[2 rows x 943 columns]

# Pre-processing

### Convert dates

In [25]:


data['date'] = pd.to_datetime(data['date'])
data['date']=data['date'].map(dt.datetime.toordinal)

## Convert Labels to non continuous

In [26]:
data =data.astype({'Quantity': int})

In [27]:
data['Quantity'].dtypes

dtype('int64')

## Make a tiny dataset to test code

In [42]:
# We just wasnt to see the code complete a  run.
# Terefore we will shrink teh number of columns and 
# the number rows

#subset = df.sample(frac=0.5)
#data_sample = data.sample(frac=0.25)
#data_sample.shape

#N = 5
# Select first N columns
#first_n_column  = df.iloc[: , :N]

N= 50
data_sample = data.iloc[: , :N]
data_sample.shape

(54, 50)

In [43]:
# Now filter the rows
#dfObj1 = empDfObj.head(2)
data_sample = data_sample.head(20)

In [ ]:
#data_sample

In [44]:
data_sample.shape

(20, 50)

# Split Data

In [45]:
X= data_sample.loc[:,data_sample.columns != 'Quantity']
X.head(3)

     date  ...  Construction_lic_area_NO_SIlag_1
0  736330  ...                         1512659.0
1  736361  ...                          955653.0
2  736389  ...                         1318018.0

[3 rows x 49 columns]

In [46]:
y = data_sample['Quantity']
y.head(3)

0    1
1    0
2   -1
Name: Quantity, dtype: int64

To test slow algorythm lets pull a sample

# Feature Selection Technique: SFS-Backwards

SFS-Backward follows the same idea but works in the opposite direction: It starts with all the features and greedily removes all the features until it reached the desired number of features.

SFS differs from RFE and SelectFromModel because the machine learning model did not need the coef_ or feature_importances_ attribute. Although, it is considerably slower as it evaluated the result by fitting the model multiple times.

Selecting the Best important features according to Logistic Regression

In [47]:
sfs_selector = SequentialFeatureSelector(estimator=LogisticRegression(), n_features_to_select = 5 , cv= 2, direction ='backward')

In [ ]:
sfs_selector.fit(X, y)

In [50]:
X.columns[sfs_selector.get_support()]

Index(['RADAR_Supply', 'Construction_lic_unt_SIlag_1',
       'Construction_lic_unt_NO_SIlag_1', 'Construction_lic_area_SIlag_1',
       'Construction_lic_area_NO_SIlag_1'],
      dtype='object')